body{
   color: #ffffff;
   background-image:url(../image/redstone.png); 
   width:90%;
   background-repeat: no-repeat;
   background-size: 100%;

    
}
#logo{
    width:50px;
    border-radius: 10%;
    
}
nav{
    padding-top:10px;
    width: 80%;
    position: fixed;
    position: relative;
    top:-75px;
}
button{
    background-color: #212121;
    border-radius: 5px;
    border:2px #212121 solid;
}
h1{
    position: relative;
    top: -12px;
}
.dropdown{
    position:relative;
    display:block;
    border-radius: 10px;
    color:#a10505;

}
.dropdown a{
    color:#a10505;
}
.dropdown a:hover{
    color:#ffffff;

}

.dropdownc1{
    display:none;
    position:absolute;
    background-color:#a10505bf;
    top:45px;
    left:16px;
    width:64px;
    z-index:1;
    border-radius:10px ;
    border:4px #212121 solid;

}
.dropdownc2{
    display:none;
    position:absolute;
    background-color:#a10505bf;
    top:45px;
    left:16px;
    width:64px;
    z-index:1;
    border-radius:10px ;
    border:4px #212121;
}


.dropdown:hover .dropdownc1{
    display:inline-block;
}
.dropdown:hover .dropdownc2{
    display:inline-block;
}

#menu ul{
    list-style-type:none;
    text-align:center;
    
	
}
#menu ul li {
    display:inline-block;
    border:3px #a10505 solid;
    padding-left:10px;
    padding-right:10px;
    width:80px;
    height:40px;
}
#menu ul li a {
	text-decoration: none;
	color:#a10505;
}
#menu ul li a:hover {
	color: #ffffff;
}

.navbar{
	
	width:100%;
	display:inline-block;
	
}