body{
   color: white;
   background-image:url(../image/redstone.png); 
   width:90%;
   background-repeat: no-repeat;
   background-size: 100%;

    
}
#logo{
    width:50px;
    border-radius: 10%;
    
}
nav{
    padding-top:10px;
    width: 80%;
    position: fixed;
    position: relative;
    top:-75px;
}


.dropdown{
    position:relative;
    display:block;
    border-radius: 10px;
    color:#ffffff;

}
.dropdown a{
    color:black;
}
.dropdown a:hover{
    color:red;

}

.dropdownc1{
    display:none;
    position:absolute;
    background-color:#4c779c;
    top:50px;
    left:27px;
    width:64px;
    z-index:1;
    border-radius:10px ;
    border:2px white solid;

}
.dropdownc2{
    display:none;
    position:absolute;
    background-color:#4c779c;
    top:50px;
    left:27px;
    width:64px;
    z-index:1;
    border-radius:10px ;
    border:2px white solid;
}


.dropdown:hover .dropdownc1{
    display:inline-block;
}
.dropdown:hover .dropdownc2{
    display:inline-block;
}

#menu ul{
    list-style-type:none;
    text-align:center;
	
}
#menu ul li {
    display:inline-block;
    border:2px #ffffff solid;
    padding-left:10px;
    padding-right:10px;
    width:80px;
    height:40px;
}
#menu ul li a {
	text-decoration: none;
	color:#000000;
}
#menu ul li a:hover {
	color: #669ecf;
}

.navbar{
	
	width:100%;
	display:inline-block;
	
}