.dl-parachute svg .circle,
.dl-parachute svg .line {
    width: 280px;
    height: 124px;
    position: absolute;
    left: -80px;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke: var(--color-line);
    fill: none;
}

.dl-parachute svg .circle {
    top: -2px;
    opacity: var(--circle-opacity);
    transform: translateY(var(--svg-y)) rotate(180deg);
}

.dl-parachute .arrow,
.dl-parachute .parachute {
    position: absolute;
    width: 28px;
    height: 32px;
    fill: var(--color-icon);
    left: 10px;
    bottom: -26px;
    transform-origin: 50% 0%;
    opacity: var(--parachute-opacity);
    transform: translateY(var(--parachute-y)) scale(var(--parachute-scale));
}

.dl-parachute .success {
    
    --o: var(--success-opacity);
    --y: var(--success-y);
}
