body{
    background-color: #f7ee8c;
}

#robot1{
    width: 300px;
    position: absolute;
   right: 0px;
    top: -30px;
}

h1{
    color: #000000;
    font-size:2em ;
    position: absolute;
    left: 300px;
    top: 5px;
}
p{
    color: #000000;
    font-size:1.5em ;
    position: absolute;
    left: 200px;
    top: 75px;
}

#userChoices{
    color: #000000;
    font-size:1.5em ;
    position: absolute;
    left: 200px;
    top: 210px;
}

#imagesContainer{
    position: absolute;
    left: 200px;
    top: 300px;
}

#validateBtn{
    position: absolute;
    left: 400px;
    top: 440px;
}