body{
   color: #ffffff;
   background-image:url(../image/redstone.png); 
   width:90%;
   background-repeat: no-repeat;
   background-size: 100%;

    
}
#logo{
    width:65px;
    border-radius: 10%;
    
}
#link{
    z-index:1;
    position: relative;
    top: 5px;
    left:5px;
    position: fixed;
}
nav{
    padding-top:10px;
    width: 80%;
    position: fixed;
    position: relative;
    top:-25px;
    text-align: center;
}
button{
    background-color: #efeeee;
    border-radius: 5px;
    border:2px #212121 solid;
    padding:5px;
    font-size: 0.8em;
}
a{
    color:black;
    text-align: center;
}
a:hover{
    color:#a10505;
    text-align: center;
}
h1{
    position: relative;
    top: -12px;
    color: #efeeee;
}
h2{
    font-size:3em;
    position: absolute;
    left:752px ;
    top:90px;
    color: #efeeee;
}
h3{
    font-size:3em;
    position: absolute;
    top:420px;
    left:750px;
    color: #efeeee;
    text-align: center;
}


table{
    border: 4px #a10505 solid;
    background-color: #212121;
    color:#efeeee;
    font-size:1.5em;
    text-align: center;

}

.ligne{
    border:#ffffff;
    background-color: #a1050570;
}

#table1{
    position: absolute;
    left:75px;
    top:200px;
    
}

#table2{
    position: absolute;
    top:550px;
    left:460px; 
}
.div1{
    position: absolute;
    left:760px;
    top:200px;
    background-color:#212121;
    width:200px;
    text-align: center;
    border:4px #a10505 solid
    

 }