<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/logo.jpg') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='image/logo.jpg') }}">
    <script src="{{ url_for('static', filename='js/monjs.js') }}"></script>
    <title>Add Builder</title>
</head>
<body>
    <!-- <div id="logo">
        <a href="/" id="link"><img src="{{ url_for('static', filename='image/logo.jpg') }}" id="logo"></a>
    </div> -->
    <div>
        <a href="{{ url_for('builderAdd') }}">add builder</a>
        <a href="{{ url_for('farmAdd') }}">add farm</a>
        <a href="{{ url_for('builder') }}">builder</a>   
        <a href="{{ url_for('farm') }}">farm</a>  
    </div>
 <div>   
    <h2>Add Builder</h2>
    <form action="{{ url_for('builderAddPOST') }}" method="post" enctype="multipart/form-data">
        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name"><br>
        <label for="first_name">First Name:</label><br>
        <input type="text" id="first_name" name="first_name"><br>
        <label for="gamertag">Gamertag:</label><br>
        <input type="text" id="gamertag" name="gamertag"><br>
        <label for="icon">Icon:</label><br>
        <input type="file" id="icon" name="icon"><br>
        
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>
