<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Farm</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen">
</head>
<body>
    <!-- <div id="logo">
        <a href="/" id="link"><img src="{{ url_for('static', filename='image/logo.jpg') }}" id="logo"></a>
    </div> -->
    <div>
    <h2>Edit Builder</h2>
    <form action="{{ url_for('modifyBuilderPOST', id=builder.id) }}" method="post">
        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name" value="{{ builder.lname }}"><br><br>
        
        <label for="first_name">First Name:</label><br>
        <input type="text" id="first_name" name="first_name" value="{{ builder.fname }}"><br><br>
        
        <label for="gamertag">Gamertag:</label><br>
        <input type="text" id="gamertag" name="gamertag" value="{{ builder.gamertag }}"><br><br>

        <label for="icon">Icon:</label><br>
        <input type="text" id="icon" name="icon" value="{{ builder.icon }}"><br><br>

        <!-- Display assigned farms dropdown menus -->
        <!-- {% for farm_id in builder.assigned_to %}
        <label for="assigned_to">Select a Farm:</label><br>
        <select name="assigned_to" id="assigned_to">
            {% for farm in farms %}
            <option value="{{ farm.id }}" {% if farm.id == farm_id %} selected {% endif %}>{{ farm.title }}</option>
            {% endfor %}
        </select><br><br>
        {% endfor %} -->

        
        <input type="submit" value="Submit">
    </form>
 </div>   
</body>
</html>
