<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Farm</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen">
</head>
<body>
    <!-- <div id="logo">
        <a href="/" id="link"><img src="{{ url_for('static', filename='image/logo.jpg') }}" id="logo"></a>
    </div> -->
    <h2>Edit Builder</h2>
    <form action="{{ url_for('modifyBuilderPOST', id=builder['id']) }}" method="POST">
        <label for="title">Name/Gamertag:</label><br>
        <input type="text" id="gamertag" name="gamertag" value="{{ builder['gamertag'] }}"><br><br>

        <label for="assigned_to">Assigned Farms:</label>
        {% for i in range(builder.assigned_to|length) %}
            <select id="assigned_to_{{ i }}" name="assigned_to_{{ i }}">
                {% for farm in farms %}
                    <option value="{{ farm.id }}" {% if farm.id == builder.assigned_to[i] %} selected {% endif %}>{{ farm.title }}</option>
                {% endfor %}
            </select>
        {% endfor %}


        <label for="title">First Name:</label><br>
        <input type="text" id="first_name" name="first_name" value="{{ builder['fname'] }}"><br><br>

        <label for="title">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name" value="{{ builder['lname'] }}"><br><br>

        <label for="title">Icon:</label><br>
        <input type="file" id="icon" name="icon" value="{{ builder['icon'] }}"><br><br>

        <div id="farmSelection" style="display: none;">
            <label for="farm">Select a Farm:</label>
            <select id="title" name="title">
                {% for farm in farms %}
                    <option value="{{ farm.title }}">{{ farm.title }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
