<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Builder</title>
    <link href="css\builder.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="image/logo.jpg">
    <link rel="apple-touch-icon" href="image/logo.jpg">
    <script src="js\monjs.js"></script>
    
</head>
<body>
    <div id="logo">
        <a href="index.html" id="link"><img src="image/logo.jpg" id="logo"></a>
    </div>
        <nav id="menu" class="navbar">
            <ul>
                <li class="dropdown">
                    <div>
                        <h1>Farm</h1>
                        <div class="dropdownc1">
                            <table>
                                <tbody>
                                    <!-- {% for todo in todos %} -->
                                    <tr>
                                        <td><button><a href="{{ url_for('todosEdit', id=todo.id) }}">Add</a></button></td>
                                    </tr>
                                    <tr>
                                        <td><button><a href="{{ url_for('todosEdit', id=todo.id) }}">Edit</a></button></td>
                                    </tr>
                                    <tr>
                                        <td><button><a href="{{ url_for('todosEdit', id=todo.id) }}">Remove</a></button></td>
                                    </tr>
                                    <tr>
                                        <td><button><a href="{{ url_for('todosEdit', id=todo.id) }}">Status</a></button></td>
                                    </tr>
                                    <!-- {% endfor %} -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <div>
                        <h1>Builder</h1>
                        <div class="dropdownc2">
                            <table>
                                <tbody>
                                    <!-- {% for todo in todos %} -->
                                    <tr>
                                        <td><button><a href="{{ url_for('todosEdit', id=todo.id) }}">Add</a></button></td>
                                    </tr>
                                    <tr>
                                        <td><button><a href="{{ url_for('todosEdit', id=todo.id) }}">Edit</a></button></td>
                                    </tr>
                                    <tr>
                                        <td><button><a href="{{ url_for('todosEdit', id=todo.id) }}">Remove</a></button></td>
                                    </tr>
                                    <tr>
                                        <td><button><a href="{{ url_for('todosEdit', id=todo.id) }}">Assign</a></button></td>
                                    </tr>
                                    <!-- {% endfor %} -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>last name</th>
                        <th>first name</th>
                        <th>gamertag</th>
                        <th>icon</th>
                        <th>assigned to</th>
                    </tr>
                </thead>
                <tbody>
                    {% for builder in builders %}
                    <tr>
                        <td>{{ builder.id }}</td>
                        <td>{{ builder.lname }}</td>
                        <td>{{ builder.fname }}</td>
                        <td>{{ builder.gamertag }}</td>
                        <td>{{ builder.icon }}</td>
                        <td>{{ builder.assigned to }}</td>
                        <td><a href="{{ url_for('todosDelete', id=todo.id) }}">Delete</a></td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
</body>
</html>

