<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/logo.jpg') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='image/logo.jpg') }}">
    <script src="{{ url_for('static', filename='js/monjs.js') }}"></script>
    <title>Add Farm</title>
</head>
<body>
    <!-- <div id="logo">
        <a href="/" id="link"><img src="{{ url_for('static', filename='image/logo.jpg') }}" id="logo"></a>
    </div> -->
    <div >
        <a href="{{ url_for('builderAdd') }}">add builder</a>
        <a href="{{ url_for('farmAdd') }}">add farm</a>
        <a href="{{ url_for('builder') }}">builder</a>   
        <a href="{{ url_for('farm') }}">farm</a>  
    </div>

 
    <h2>Add Farm</h2>
 <div class="div1">   
    <form action="{{ url_for('farmAddPOST') }}" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description"></textarea><br>
        <label for="status">Status:</label><br>
        <select id="status" name="status">
            <option value="done">Done</option>
            <option value="in_progress">In Progress</option>
            <option value="unassigned">Unassigned</option>
        </select><br>
        <input type="submit" value="Submit">
    </form>
</div>   
</body>
</html>