<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/logo.jpg') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='image/logo.jpg') }}">
    <script src="{{ url_for('static', filename='js/monjs.js') }}"></script>
    <title>Edit Farm</title>
</head>
<body>
    <div id="logo">
        <a href="/" id="link"><img src="{{ url_for('static', filename='image/logo.jpg') }}" id="logo"></a>
    </div>
    
    <h2>Edit Farm</h2>
    <form action="{{ url_for('modifyFarmPOST', id=farm.id) }}" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="{{ farm.title }}"><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description">{{ farm.description }}</textarea><br>
        <label for="status">Status:</label><br>
        <select id="status" name="status">
            <option value="done" {% if farm.statut == 'done' %} selected {% endif %}>Done</option>
            <option value="in_progress" {% if farm.statut == 'in Progress' %} selected {% endif %}>In Progress</option>
            <option value="unassigned" {% if farm.statut == 'unnasigned' %} selected {% endif %}>Unassigned</option>
        </select><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>
