<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Farm</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen">
</head>
<body>
    <!-- <div id="logo">
        <a href="/" id="link"><img src="{{ url_for('static', filename='image/logo.jpg') }}" id="logo"></a>
    </div> -->
    <div>
        <a href="{{ url_for('index') }}">index</a>
        <a href="{{ url_for('builderAdd') }}">add builder</a>
        <a href="{{ url_for('farmAdd') }}">add farm</a>
        <a href="{{ url_for('builder') }}">builder</a>   
        <a href="{{ url_for('farm') }}">farm</a>  
        <a href="{{ url_for('farmStatus') }}">farm status</a> 
    </div>
    <div>
    <h2>Edit Farm</h2>
    <form action="{{ url_for('modifyFarmPOST', id=farm['id']) }}" method="POST">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="{{ farm['title'] }}"><br><br>
        
        <label for="description">Description:</label><br>
        <textarea id="description" name="description">{{ farm['description'] }}</textarea><br><br>
        
        <input type="radio" id="unassigned" name="status" value="Unassigned" {% if farm.statut == 'Unassigned' %} checked {% endif %}>
        <label for="unassigned">Unassigned</label><br><br>

        <input type="radio" id="done" name="status" value="Done" {% if farm.statut == 'Done' %} checked {% endif %}>
        <label for="done">Done</label><br><br>

        <input type="radio" id="inProgress" name="status" value="In Progress" {% if farm.statut == 'In Progress' %} checked {% endif %}>
        <label for="inProgress">In Progress</label><br><br>

        <div id="builderSelection" style="display: none;">
            <label for="builder">Select a Builder:</label>
            <select id="builder" name="builder">
                {% for builder in builders %}
                    <option value="{{ builder.id }}">{{ builder.fname }} {{ builder.lname }}</option>
                {% endfor %}
            </select>
        </div>
        
        <script>
            document.getElementById("inProgress").addEventListener("change", function() {
                if (this.checked) {
                    var confirmInProgress = confirm("Marking this farm as 'In Progress' will require you to assign a builder to the farm, are you sure you want to do this? This will also assign the farm it to the selected builder.");
                    if (confirmInProgress) {
                        document.getElementById("builderSelection").style.display = "block";
                    } else {
                        document.getElementById("unassigned").checked = true;
                        document.getElementById("builderSelection").style.display = "none";
                    }
                }
            });
        </script>


        
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>
