<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/logo.jpg') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='image/logo.jpg') }}">
    <script src="{{ url_for('static', filename='js/monjs.js') }}"></script>
    <title>Farm</title>
    
</head>
<body>
    <!-- <div id="logo">
        <a href="/" id="link"><img src="{{ url_for('static', filename='image/logo.jpg') }}" id="logo"></a>
    </div> -->
    <div>
        <a href="{{ url_for('index') }}">index</a>
        <a href="{{ url_for('builderAdd') }}">add builder</a>
        <a href="{{ url_for('farmAdd') }}">add farm</a>
        <a href="{{ url_for('builder') }}">builder</a>   
        <a href="{{ url_for('farm') }}">farm</a>  
        <a href="{{ url_for('farmStatus') }}">farm status</a> 
    </div>
    <div>
    <h2>Farm</h2>
        <table id="table1">
            <thead>
                <tr>
                    <th class="ligne">Id</th>
                    <th class="ligne">Title</th>
                    <th class="ligne">Description</th>
                    <th class="ligne">Status</th>
                    <th class="ligne">Builder Assigned</th>
                    <th class="ligne">Add</th>
                    <th class="ligne">Edit</th>
                    <th class="ligne">Remove</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for farm in farms %}
                <tr>
                    <td class="ligne">{{ farm.id }}</td>
                    <td class="ligne">{{ farm.title }}</td>
                    <td class="ligne">{{ farm.description }}</td>
                    <td class="ligne">{{ farm.statut }}</td>
                    <td class="ligne">{{ farm.employee }}</td>
                    <td class="ligne"><button><a href="{{ url_for('farmAdd') }}">Add</a></button></td>
                    <td class="ligne"><button><a href="{{ url_for('modifyFarm', id=farm['id']) }}">Edit</a></button></td>
                    <td class="ligne"><button><a href="{{ url_for('removeFarm', id=farm['id']) }}">Remove</a></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>

