<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/logo.jpg') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='image/logo.jpg') }}">
    <script src="{{ url_for('static', filename='js/monjs.js') }}"></script>
    
</head>
<body>
    <div id="logo">
        <a href="/" id="link"><img src="{{ url_for('static', filename='image/logo.jpg') }}" id="logo"></a>
    </div>
        <nav id="menu" class="navbar">
            <ul>
                <li class="dropdown">
                    <div>
                        <h1>Farm</h1>
                        <div class="dropdownc1">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for farm in farms %}
                                    <tr>
                                        <td>{{ farm.title }}</td>
                                        <td>{{ farm.statut }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <div>
                        <h1>Builder</h1>
                        <div class="dropdownc2">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Last Name</th>
                                        <th>First Name</th>
                                        <th>Gamertag</th>
                                        <th>Icon</th>
                                        <th>Assigned To</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for builder in builders %}
                                    <tr>
                                        <td>{{ builder.id }}</td>
                                        <td>{{ builder.lname }}</td>
                                        <td>{{ builder.fname }}</td>
                                        <td>{{ builder.gamertag }}</td>
                                        <td>{{ builder.icon }}</td>
                                        <td>{{ builder.assigned_to }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
</body>
</html>
